:root,
[data-bs-theme=light] {
    --bs-dark-rgb: 51, 102, 0;
}
/* 連結google fonts 雲端文字，提供用戶一致體驗UX */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
/* 透過Body標籤，改變全部的文案預設字體。 */
body{font-family:"微軟正黑體", "Noto Sans TC", sans-serif;}

/* 指定根元素的文字大小，單位是px */
html{font-size: 20px;}

footer a{text-decoration: none;}
/* 選取器是標籤，影響整體 */
h2{font-size: 1.5rem;font-weight: 900;color: rgb(39,102,229); }
/* 選取器是類別，影響個別，需要手動套用 */
.h2-custom-pink {font-size:  1.5rem;font-weight: 900; color: rgb(207, 34, 86);}

.text-green { 
    color: rgb(30, 124, 43);
}

.carousel-item img{
    min-height: 350px;
    max-height: 600px;
    object-fit: cover;
  }